.table-log-wrapper.text-center
  %h5="Attempts: #{current_attempts}/#{attempts}"
  %table{ id: 'game_log', class: 'table table-striped  text-center' }
    %thead
      %tr
        %th{ scope: 'col'} Code</th>
        %th{ scope: 'col'} Matching
    %tbody
      -unless guess == nil
        - game_log.reverse.each do |line|
          %tr
            %td= line.first
            %td= line.last
      -unless hint == nil
        %tr
          %td= hint
          %td= 'Your hint'